<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SnapSticker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <!-- Custom CSS -->
    <style>
        @media (min-width: 992px) { /* Adjust for large screens */
            .col-lg-1-5 {
                flex: 0 0 auto;
                width: 12.5%;
            }
        }
    </style>
</head>

<body>

    <div class="container my-4">
        <!-- Headings -->
        <h1 class="fs-2 text">SnapSticker</h1>
        <p class="fs-5">Magical Sticker App for Your Moments</p>


        <!-- Form to Upload Image -->
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload Image" name="submit">
        </form>

        <div class="row">
            <div class="col-md-6">
                <!-- Display Uploaded Image -->
                {% if uploaded_image %}
                    <img src="{{ url_for('static', filename=uploaded_image) }}" id="uploadedImage" class="img-fluid my-4" alt="Uploaded Image" style="max-height: 600px;">
                    
                    <!-- JavaScript to create clickable rectangles for each detected face -->
                    <script>
                        let faceData = {{ face_data | tojson }};
                        let imageElement = document.getElementById('uploadedImage');

                        // Add an event listener to adjust face rectangles after the image loads
                        imageElement.onload = function() {
                        let actualHeight = imageElement.clientHeight;
                        let scale = actualHeight / 600; // Assuming 600 is the max height set in Python
                        faceData = faceData.map(face => {
                            return {
                            left: face.left * scale,
                            top: face.top * scale,
                            right: face.right * scale,
                            bottom: face.bottom * scale
                            };
                        });

                        faceData.forEach(face => {
                            let rect = document.createElement('div');
                            rect.style.position = 'absolute';
                            rect.style.border = '2px solid red';
                            rect.style.left = (imageElement.offsetLeft + face.left) + 'px';
                            rect.style.top = (imageElement.offsetTop + face.top) + 'px';
                            rect.style.width = (face.right - face.left) + 'px';
                            rect.style.height = (face.bottom - face.top) + 'px';
                            rect.onclick = function() { alert('Face selected!'); }; // Replace with actual function
                            document.body.appendChild(rect);
                        });
                        };
                    </script>

                    <!-- Button to add stickers NOT DONE!!!-->
                    <!-- <form action="/" method="post">
                        <input type="hidden" name="add_stickers" value="true">
                        <input type="hidden" name="uploaded_image" value="{{ uploaded_image }}">
                        <input type="submit" value="Add Stickers" class="btn btn-primary">
                    </form> -->
                    
                {% endif %}

                <!-- Display modified image  NOT DONE!!! -->
                <!-- {% if modified_image_path %}
                <h3>Modified Image:</h3>
                <img src="{{ url_for('static', filename=modified_image_path) }}" class="img-fluid" alt="Modified Image">
                {% endif %} -->
            </div>

            <div class="col-md-6">
                <!-- Stickers Section -->
                <h2 class="fs-4">Sticker Library</h2>

                <div class="col text-center my-4" style="max-height: 600px; overflow-y: auto;">

                    <!-- Cards for each sticker category -->
                    <div class="row">
                        <div class="col-12">
                            <h4>Animal Faces</h4>
                        </div>
                        <!-- {% for sticker in ['fox.png', 'cat.png', 'deer.png', 'dog.png', 'pig.png', 'bear.png', 'rabbit.png', 'unicorn.png'] %}
                            <div class="col-6 col-sm-4 col-md-3 col-lg-1-5">
                                <div class="card">
                                    <img src="{{ url_for('static', filename='stickers/animal face/' + sticker) }}" class="card-img-top" alt="Animal Face" style="max-height: 600px;">
                                </div>
                            </div>
                        {% endfor %} -->
                        {% for sticker in ['fox.png', 'cat.png', 'deer.png', 'dog.png', 'pig.png', 'bear.png', 'rabbit.png', 'unicorn.png'] %}
                        <div class="col-6 col-sm-4 col-md-3 col-lg-1-5">
                            <form method="post" action="/" class="stickerForm">
                                <input type="hidden" name="selected_sticker" value="{{ sticker }}">
                                <button type="submit" class="stickerButton">
                                    <div class="card">
                                        <img src="{{ url_for('static', filename='stickers/animal face/' + sticker) }}" class="card-img-top sticker" alt="Animal Face">
                                    </div>
                                </button>
                            </form>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h4>Ears</h4>
                        </div>
                        {% for sticker in ['bent-rabbit-ears.png', 'fluffy-bunny-ear.png', 'fluffy-pink-bunny.png', 'fox-ears.png', 'pink-bunny-ears.png', 'pink-bunny-ears-2.png', 'white-bunny-ears.png'] %}
                        <div class="col-6 col-sm-4 col-md-3 col-lg-1-5">
                            <form method="post" action="/" class="stickerForm">
                                <input type="hidden" name="selected_sticker" value="{{ sticker }}">
                                <button type="submit" class="stickerButton">
                                    <div class="card">
                                        <img src="{{ url_for('static', filename='stickers/ears/' + sticker) }}" class="card-img-top sticker" alt="Ear Sticker" data-sticker-name="{{ sticker }}">
                                    </div>
                                </button>
                            </form>
                        </div>
                    {% endfor %}
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h4>Glasses</h4>
                        </div>
                        {% for sticker in ['blue-sunglasses.png', 'cool-sunglasses.png', 'gray-sunglasses.png', 'eyeglasses.png', 'heart-sunglasses.png', 'pink-sunglasses.png', 'rainbow-glasses.png', 'reading-eyeglasses.png', 'round-eyeglasses.png'] %}
                        <div class="col-6 col-sm-4 col-md-3 col-lg-1-5">
                            <form method="post" action="/" class="stickerForm">
                                <input type="hidden" name="selected_sticker" value="{{ sticker }}">
                                <button type="submit" class="stickerButton">
                                    <div class="card">
                                        <img src="{{ url_for('static', filename='stickers/glasses/' + sticker) }}" class="card-img-top sticker" alt="Glasses Sticker" data-sticker-name="{{ sticker }}">
                                    </div>
                                </button>
                            </form>
                        </div>
                    {% endfor %}
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h4>Noses</h4>
                        </div>
                        {% for sticker in ['clown-nose.png', 'pig-nose.png', 'tiger-nose.png'] %}
                        <div class="col-6 col-sm-4 col-md-3 col-lg-1-5">
                            <form method="post" action="/" class="stickerForm">
                                <input type="hidden" name="selected_sticker" value="{{ sticker }}">
                                <button type="submit" class="stickerButton">
                                    <div class="card">
                                        <img src="{{ url_for('static', filename='stickers/noses/' + sticker) }}" class="card-img-top sticker" alt="Nose Sticker" data-sticker-name="{{ sticker }}">
                                    </div>
                                </button>
                            </form>
                        </div>
                    {% endfor %}
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h4>Hats</h4>
                        </div>
                        {% for sticker in ['chef-hat.png', 'Christmas-hat.png', 'graduation-hat.png', 'green-hat.png', 'magic-hat.png', 'party-hat.png', 'santa-hat.png', 'top-hat.png'] %}
                        <div class="col-6 col-sm-4 col-md-3 col-lg-1-5">
                            <form method="post" action="/" class="stickerForm">
                                <input type="hidden" name="selected_sticker" value="{{ sticker }}">
                                <button type="submit" class="stickerButton">
                                    <div class="card">
                                        <img src="{{ url_for('static', filename='stickers/hats/' + sticker) }}" class="card-img-top sticker" alt="Hat Sticker" data-sticker-name="{{ sticker }}">
                                    </div>
                                </button>
                            </form>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h4>Headbands</h4>
                        </div>
                        {% for sticker in ['bear-headbands.png', 'cat-headband.png', 'christmas-headband.png', 'dear-ears.png', 'devil-headband.png', 'fox-ears.png', 'gray-bunny-ears.png', 'kitten-ears.png', 'rabbit.png'] %}
                        <div class="col-6 col-sm-4 col-md-3 col-lg-1-5">
                            <form method="post" action="/" class="stickerForm">
                                <input type="hidden" name="selected_sticker" value="{{ sticker }}">
                                <button type="submit" class="stickerButton">
                                    <div class="card">
                                        <img src="{{ url_for('static', filename='stickers/headbands/' + sticker) }}" class="card-img-top sticker" alt="Headband Sticker" data-sticker-name="{{ sticker }}">
                                    </div>
                                </button>
                            </form>
                        </div>
                    {% endfor %}
                    </div>
                    
                </div>
        
                </div>
            
    </div>

    
</body>

</html>